 body {
    background-color: #fc9484; 
    font-family: sans-serif; 
    text-align: center;
} 
#score {
    font-size: 35px; 
    font-family: 'Patua One', cursive; 
    color: #ede8d4; 
    display: flex; 
    justify-content: center;
    
}
#tetris{
    border: solid 6.4px #ede8d4; 
    height: 90vh;
    position: absolute;
    left: 560px;
    display: flex;
 
} 

#nester {
float: right;
height: 75px ;
width: 75px;
}

#arrow {
float: left;
height: 80px;
width: 80px;
}


#gameover{
  font-family: 'Patua One', cursive; 
  color: #ede8d4;
  font-size: 115px;
  background-color: #fc9484;
}

#myBtn {
  font-family: 'Patua One', cursive; 
  color: #ede8d4;
  background-color: #fc9484;
  font-size: 40px;
}



.loss-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fc9484;
    font-family: 'Patua One', cursive; 
    transition:  0.3s;
    font-size: 40px;
    opacity: 0.95;

    align-items: center;
    justify-content: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
  }

  .loss-message a {
    transition:  0.3s;
  
  }
  
  .loss-message.show {
    display: flex;
  }
  
  .loss-message a {
    font-size: 3rem;
    padding: 0.25em 0.5em;
    cursor: pointer;
  }
  
  .loss-message a:hover {
    color: white;
  }

  .loss-message::before {
    content: '';
    position: absolute;
    bottom: 34vh;
    width: 30%;
    height: 10%;
    z-index: 1;
    opacity: 0;
    transition:  0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5);
    transform: scale(0.1, 1);
  }
  
  .loss-message:hover span {
    letter-spacing: 2px;
    
  }
  .loss-message:hover::before {
    opacity: 1;	
    transform: scale(1, 1);	
  }

  .loss-message::after {
    content: '';
    position: absolute;
    bottom: 34vh;
    width: 30%;
    height: 10%;
    z-index: 1;
    transition:  0.3s;
    background-color: rgba(255,255,255,0.1);
    
  }
  .loss-message:hover::after {
    opacity: 0;	
    transform: scale(0.1, 1);
   
  }