/* body {
    background-color: #fc9484; 
    font-family: sans-serif; 
    text-align: center
}

#score{
    font-size: 35px; 
    font-family: 'Patua One', cursive; 
    color: #ede8d4; 
    display: flex; 
    justify-content: center;
}

canvas{
    border: solid 6.4px #ede8d4; height: 90vh;
      position: absolute;
      left: 560px;
      display: flex;
      width:240px;
      height:400px;
} */